#headwrap .nav-items a {
  padding: 7px 15px;
  margin: 0 3px;
  display: inline-flex;
  background-color: #12171b;
  border: 1px solid #404040;
  color: #ccc;
  position: relative;
}

#headwrap .nav-items .load-notification .badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: #d85050;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 50%;
  z-index: 2;
  width: 23px;
  height: 23px;
  text-align: center;
}

#headwrap .nav-items {
  justify-content: flex-end;
}

#headwrap {
  padding: 5px 0;
  margin: 10px 0;
  justify-content: space-between;
}

#headwrap .col-md-3.slogan {
  margin-top: -5px;
  padding: 0;
}

#headwrap .col-md-4 {
  padding-right: 0;
  text-align: right;
}

#headwrap .form-group {
  margin: 0;
}

#headwrap .nav-items a {
  background-color: #224361;
  border-radius: 2px;
  border: 1px solid rgb(84 59 59 / 8%) !important;
}

#headwrap .nav-items a#custom-open-logout-modal {
  background-color: #681212;
}