.ui-autocomplete.ajax-results {
  position: absolute;
  top: 32px;
  left: 15px;
  width: calc(100% - 30px);
}

.ui-autocomplete {
  width: 100%;
  background-color: #171e24;
  list-style: none;
  border: 1px solid #273e52;
  margin: 0;
  display: block;
  padding: 0;
  z-index: 9999;
  border-top: none;
  max-height: 500px;
  overflow-x: hidden;
}

.ui-autocomplete li {
  border-top: 1px solid #20282f;
  padding: 12px;
  cursor: pointer;
  overflow: hidden;
}

.ui-autocomplete li.exact_result {
  background: #090b0c;
}

.ui-autocomplete li.exact_result .date {
  color: #fff;
}

.ui-autocomplete li .halim_list_item {
  overflow: hidden;
}

.ui-autocomplete li img {
  width: 35px;
  height: 44px;
  margin: 0;
  object-fit: cover;
}

.ui-autocomplete li .image {
  float: left;
  margin-right: 10px;
}

.ui-autocomplete li .label {
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  display: -webkit-box;
  margin: 3px 0 0;
}

.ui-autocomplete li .date {
  font-size: 11px;
  color: #949494;
  font-weight: 400;
  display: none;
}

.ui-autocomplete li .enName {
  font-size: 11px;
  color: #7d9db9;
}

.ui-autocomplete li a {
  color: #fff;
  font-weight: 700;
  white-space: inherit;
  display: block;
}

.ui-autocomplete li:hover {
  background: #1e262d;
}